

$color-dark-1: #424242;
$color-dark-2: #191919;

$color-gray-1: #9f9f9f;
$color-gray-2: #747474;
$color-gray-3: #fff;

$color-primary: #ea294f;
$color-secondary: #FF5F93;

/* 
#FF5F93
#FF91D4
#FFC4FF */